#clockcontainer{
background: url('clock.png')no-repeat;
margin:auto;
position: relative;
height: 60vw;
width: 40vw;
background-size: 100%;
background-color: red;
}
h1{
    position: absolute;
    bottom: -14%;
    right: 14%;
    font-size: 12vw;
}
#hour{
    width: 1%;
    height: 15%;
    border-radius: 1rem;
    position: absolute;
    top:26.5%;
    right: 49%;
    background-color: blue;
    transform-origin:bottom ;
    
}

#minute{
    width: 1%;
    height: 23%;
    position: absolute;
    top:18.2%;
    right: 49%;
    border-radius: 1rem;
    background-color: yellow;
    
    transform-origin:bottom ;
}

#second{
    width: 1%;
    height: 17.3%;
    position: absolute;
    top:24%;
    right: 49%;
    background-color: crimson;
    border-radius: 1rem;
    
    transform-origin:bottom ;
}